.dropdown-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;


    /* width: fit-content; */
}

select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    /* width: 300px; */
}

button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #C62828;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    /* width: 100px; */
}

table {

    padding-top: 30px;
    
    border-collapse: collapse;
    /* width: 100%; */
    /* max-width: 600px; */

    padding-bottom: 100px;
    text-align: center;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
    border: 5px solid #ccc;


    
}

th {
    background-color: #C62828;
    color: #fff;
    
}










.app-container {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.dropdown-menu-container {
    /* width: 300px; */
    margin-right: 20px;
}

.select-container {
    margin-bottom: 10px;
}

.table {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;


}


